
:root{
    --global-font-family: 'Inter';
}
* {
    font-family: var(--global-font-family);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
    font-family: var(--global-font-family);
	width: 400px;
	height: 197px;
}

html {
    font-family: var(--global-font-family);
	background: none;
	overflow: hidden;
	border-radius: 0;
}

body {
    font-family: var(--global-font-family);
	margin: 0;
    border-radius: 0;
    overflow: hidden;
    background: none;
}

/* header */
.header {
    background: #272727;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 12px;
	border-width:0 0 10px 0
}
.header-content { display: flex; align-items: center; gap: 8px; }
.icon { 
    width: 35px; 
    height: 35px; 
    background: none; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon img {
	padding-left: 120px;
    width: 250px;
    height: 250px;
    object-fit: contain;
}
/* list container */
.container { height: 162px ; overflow-y: auto; background: #272727; }
.jump-points-list { display: flex; flex-direction: column; }

/* row */
.row { 
    font-family: var(--global-font-family);
    display: flex;  
    align-items: center;
    padding: 5px 12px;
    border-top: 8px solid #1C1C1E; 
    transition: background-color 0.2s ease;
}
.row:hover { background: #000000; }
.left {
    font-family: var(--global-font-family); 
    flex: 1; 
    margin-right: 12px; 
    display: flex; 
    align-items: center;
    gap: 8px;
}
.link {
    font-family: var(--global-font-family); 
    color: #007AFF; 
    text-decoration: underline; 
    font-size: 10px; 
    font-weight: 500;
    cursor: pointer;
    transition: color 0.2s ease;
}
.link:hover { color: #0056CC; }
.time { 
    color: #8E8E93; 
    font-size: 12px; 
    font-weight: 400;
}
.date { 
    color: #8E8E93; 
    font-size: 11px; 
    font-weight: 400;
}
.actions { 
    display: flex; 
    gap: 8px; 
    align-items: center;
}
.action-btn { 
    background: none; 
    border: none; 
    color: #8E8E93;  
    cursor: pointer; 
    padding: 10px;
    border-radius: 4px; 
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
}
.action-btn.rename-btn{ 
    background: none; 
    border: none; 
    color: #d7d7d7;  
    cursor: pointer; 
    padding-left: 0%; 
    border-radius: 4px;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
}
.action-btn:hover { 
    background: #3a3a3c; 
    color: #fff; 
}
.rename-btn:hover { 
    background: #007AFF; 
    color: #fff; 
}
.delete-btn:hover { 
    background: #FF3B30; 
    color: #fff; 
}
